---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Paar sõna minust"
  description="Juho Kalberg – disainer, informaatikaõepetaja, õppur."
  pubDate={new Date("9. august 2023")}
  heroImage="/blog-placeholder-about.jpg"
>
  <h2>Mina olen Juho Kalberg</h2>
  <h3>Disainer, arendaja, õpetaja, üliõpilane</h3>
  <p>
    Olen tegutsenud disaini ja reklaami valdkonnas alates 1993. aastast,
    töötades erinevates ettevõtetes. Töödanud nii graafilise disaini, 3D
    modelleerimise kui ka veebidisaini ja front-end arenduse vallas. Hetkel
    töötan UI/UX disainerina, väiksemal määral ka Front-end arendajana ning ka
    õpetajana. Ühtlasi õpin Tallinna ülikooli Informaatikaõpetaja eriala
    magistriõppes. Hindan võimalust pidevalt juurde õppida ja areneda ning näen
    end pigem elukestva õppijana, mitte valdkonna tippspetsialistina. Püüan oma
    töös rakendada loovust ja leida uuenduslikke lahendusi.
  </p>
  <p>Ja selle juttu lasin testimiseks kirjutada ChatGPT-l</p>
</Layout>
