---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Paar sõna minust"
  description="Juho Kalberg – disainer, informaatikaõepetaja, õppur."
  pubDate={new Date("9. august 2023")}
  heroImage="/juho-kalberg.jpg"
>
  <h2>Mina olen Juho Kalberg</h2>
  <h3>Disainer, arendaja, õpetaja, üliõpilane</h3>
  <p>
    Olen tegutsenud disaini ja reklaami valdkonnas alates 1993. aastast,
    töötades erinevates ettevõtetes nii graafilise disaini, 3D modelleerimise
    kui ka veebidisaini ja front-end arenduse vallas. Hetkel töötan UI/UX
    disainerina, väiksemal määral ka Front-end arendajana ning ka õpetajana.
    Hindan võimalust pidevalt juurde õppida ja areneda ning näen end pigem
    elukestva õppijana, mitte valdkonna tippspetsialistina. Püüan oma töös
    rakendada loovust ja leida uuenduslikke lahendusi.
  </p>
  <p>Ja selle juttu lasin testimiseks kirjutada ChatGPT-l</p>
  <p>
    Hariduselt, olgugi, et õppinud nii kunsti- ning joonestusõpetajaks ja hiljem
    ka metsandusinseneriks, siis lõpetanud siiski vaid Rakendsuinformaatika
    eriala.
  </p>
  <p>Hetkel õpin Tallinna ülikooli Informaatikaõpetaja eriala magistriõppes.</p>
  <ul>
    <li>
      <a href="http://jubejuss.ee" target="_blank"
        >Siin asub minu pildiblogi, kuhu vahel mõne pildi lisan</a
      >
    </li>
    <li>
      <a href="http://vilejakell.studio" target="_blank"
        >Siin asub mu Frameri testimise lehekülg</a
      >
    </li>
  </ul>
</Layout>
