---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Paar sõna minust"
  description="Juho Kalberg – disainer, informaatikaõepetaja, õppur."
  pubDate={new Date("9. august 2023")}
  heroImage="/blog-placeholder-about.jpg"
>
  <h2>Mina olen Juho Kalberg</h2>
  <p>
    Olen tegutsenud disaini ja reklaami valdkonnas alates 1993. aastast,
    töötades erinevates väiksemates ettevõtetes. Olen omandanud kogemusi nii
    graafilise disaini, 3D modelleerimise kui ka veebidisaini ja front-end
    arenduse vallas. Hetkel töötan veebiarendajana ettevõttes Trinidad Wiseman
    ning annan oma teadmisi edasi õpetajana Tallinna Polütehnikumis. Hindan
    võimalust pidevalt juurde õppida ja areneda ning näen end pigem elukestva
    õppijana, mitte valdkonna tippspetsialistina. Püüan oma töös rakendada
    loovust ja leida uuenduslikke lahendusi. Olen tänulik, et olen saanud
    tegutseda loomevaldkonnas, mis pakub mulle eneseteostust.
  </p>
</Layout>
