---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <img src="vana_juss.jpg" alt="Vana mees loeb raamatut" />
      <h1>Infoõpsi päevaraamat</h1>
      <p>
        Sellel lehel toimetab üks informaatikaõpetaja ja UI/UX disainer,
        blogides ja märkmeid tehes, et vajalikku meelde jätta või juhiseid edasi
        anda.
      </p>
      <p>Muuhulgas kirjutan ka selle blogi ehitamisest.</p>
      <p>
        Nagu näha siis kujundus lehel veel puudub ja sisu alles tekib. Eks ma
        vaikselt toimetan.
      </p>
      <p>Süsteem kasutab Astro lehegeneraatorit.</p>
    </main>
    <Footer />
    <script src="../js/main.js"></script>
  </body>
</html>
